{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
  <style>
    .card {
        margin: 0 auto; /* Added */
        float: center; /* Added */
        margin-bottom: 0; /* Added */
      }
  </style>

  <title>Login</title>
</head>

{% block page_header %}
  <h1 class="text-warning text-center">Log<span class="text-white">in</span></h1>
{% endblock page_header %}

{% block content %}
<body class="text-center" style="background-image: url('{% static "img/lib4.JPG" %}')" no-repeat center center-cover;>
  <div class="card mx-auto" style="width:30rem;">
    <div class="showcase-container container">
      <form class="form" method="POST" action="{% url 'users:login' %}">
        {% csrf_token %} 
        {{ form }}
        <p>Don't have an account? Create one <a href="{% url 'users:register' %}">here</a></p>
        <div class="text-center">
          <button name="submit" class="btn btn-warning">Log in</button>
        </div>
        <input type="hidden" name="next" value="{% url 'books:home' %}" />
      </form>
    </div>
  </div>
</body>
{% endblock content %}